#!/bin/bash

# This file configures environment variables of this project.
# Requires [direnv](https://github.com/direnv/direnv)

strict_env

export TAG=42
export COMPOSE_PROJECT_NAME=transcendence

# Import .envrc.private
source_env_if_exists .envrc.private

## Check variables required by this project are set
env_vars_required NEXTAUTH_URL NEXTAUTH_SECRET
env_vars_required FORTY_TWO_CLIENT_ID FORTY_TWO_CLIENT_SECRET
env_vars_required POSTGRES_USER POSTGRES_PASSWORD POSTGRES_DB

# For local development
export NEXT_PUBLIC_API_URL=http://localhost:5000
export DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public
